body {
    background: #fafafa;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}

#map-location {
    width:100%;
    height: 555px;
}

#featured-connection {
    height:185px;
}

#featured-person {
    height:370px;
}

.footer {
    height:200px;
}

#main {
    /*display:none;*/
}